{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <link rel = "stylesheet" href = "{% static 'main.css' %}">
    <link href = "https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel = "stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </head>
  <body>
    <header>
      <h1><i class = "fas fa-calculator"></i>&nbsp;四則演算キャンバス</h1>
    </header>
    <main>
      <p>注) 数式は一行で書いてください</p>
      <canvas
      id = "board"
      width = "800px"
      height = "100px"
      style = "border: 1px solid #000000;">ブラウザが対応していません。</canvas>

      <button id = "clear-button">全消し</button>
      

      <div>

        <button id = "pencil-button"><i class = "fas fa-pen fa-2x"></i></button>
        <button id = "eraser-button"><i class = "fas fa-eraser fa-2x"></i></button>
        <button id = "download" type = "button">計算</button>
        <h1 id = "inner"></h1>
      </div>
    </main>
      
    

  <script>
     var flag = true;

    window.addEventListener('load', () => {
        const canvas = document.querySelector('#board');
        const context = canvas.getContext('2d');
        const lastPosition = { x: null, y: null };
        let isDrag = false;
        let black = "#000000";
        let white = "#FFFFFF";
        let currentColor = black;

        function init() {
            context.fillStyle = 'rgb(255,255,255)';
            context.fillRect(0, 0, 800, 100);
        }
        function draw(x, y) {
          if(!isDrag) {
            return;
          }
          context.lineCap = 'round';
          context.lineJoin = 'round';
          context.lineWidth = 5;
          context.strokeStyle = currentColor;
          
          if (lastPosition.x === null || lastPosition.y === null) {
            context.moveTo(x, y);
          } else {
            context.moveTo(lastPosition.x, lastPosition.y);
          }

          context.lineTo(x, y);
          context.stroke();
          lastPosition.x = x;
          lastPosition.y = y;
        }
      
        function clear() {
          context.fillStyle = 'rgb(255,255,255)';
          context.fillRect(0, 0, 800, 100);
        }
      
        function dragStart(event) {
          context.beginPath();
          isDrag = true;
        }
        
        function dragEnd(event) {
          context.closePath();
          isDrag = false;
          lastPosition.x = null;
          lastPosition.y = null;
        }
      
        function initEventHandler() {
          document.querySelector('#clear-button').addEventListener('click', clear);
          document.querySelector('#pencil-button').addEventListener('click', () => {
            currentColor = black;
          });
          document.querySelector('#eraser-button').addEventListener('click', () => {
            currentColor = white;
          });
      
          canvas.addEventListener('mousedown', dragStart);
          canvas.addEventListener('mouseup', dragEnd);
          canvas.addEventListener('mouseout', dragEnd);
          canvas.addEventListener('mousemove', (event) => {
            draw(event.layerX, event.layerY);
          });
        }
        if (flag == true) {
            clear();
            flag = false;
        }
        init();
        initEventHandler();
    });


    function sendServer(url, param){
      fetch(url, param)
        .then((response)=>{
          console.log(response);
          // console.log(response.json());
          return response.json();
        })

        .then((json)=>{
          if(json.status){
            // alert(json.status);
            document.getElementById("inner").innerHTML = "実行結果:&nbsp;" + json.status;
            // alert("送信に『成功』しました");
          }
        })
        .catch((error)=>{
          alert("エラーが発生しました");
          console.log(`[error2] ${error}`);
        });
    }


    document.getElementById("download").addEventListener("click", function() {
      const csrftoken = Cookies.get('csrftoken');
      const canvas = document.getElementById("board").toDataURL("image/jpeg");  // DataURI Schemaが返却される
        
      // 送信情報の設定
      const param = {
        method: "POST",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
          "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify({data: canvas})
      };
      // サーバへ送信
      sendServer("{% url 'home' %}", param);
    });

    
    </script>
  </body>
</html>