{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>電卓キャンバス</title>
    <link rel = "stylesheet" href = "{% static 'main.css' %}">
    <link href = "https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel = "stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
      var flag = true;
      var canvas;
      var context;
      const lastPosition = { x: null, y: null };
      let isDrag = false;
      let black = "#000000";
      let white = "#FFFFFF";
      let currentColor = black;
      const W = 1000;
      const H = 300;
      const line = 3;
      var ox = 0, oy =0 ,x = 0,y = 0;
      var mflag = false;

      function init() {
        canvas = document.querySelector('#board');
        context = canvas.getContext('2d');
          canvas.addEventListener("touchstart",onDown,false);
          canvas.addEventListener("touchmove",onMove,false);
          canvas.addEventListener("touchend",onUp,false);
          canvas.addEventListener("mousedown",onMouseDown,false);
          canvas.addEventListener("mousemove",onMouseMove,false);
          canvas.addEventListener("mouseup",onMouseUp,false);
          context.lineCap = 'round';
          context.lineJoin = 'round';
          context.fillStyle = 'rgb(255,255,255)';
          context.fillRect(0, 0, W, H);
          context.strokeStyle = "#909090";
          context.lineWidth = 1;
          for (let i = 0; i < line - 1; i++) {
              context.beginPath();
              context.moveTo(50, i * 100 + 100);
              context.lineTo(950, i * 100 + 100);
              context.stroke();
          }
          context.strokeStyle = currentColor;
      }

      function onDown(evt){
          mflag = true;
          ox = evt.touches[0].pageX - evt.target.getBoundingClientRect().left;
          oy = evt.touches[0].pageY - evt.target.getBoundingClientRect().top;
          evt.stopPropagation();
        }

        function onMove(evt){
          if(mflag){
            x = evt.touches[0].pageX - evt.target.getBoundingClientRect().left;
            y = evt.touches[0].pageY - evt.target.getBoundingClientRect().top;
            drawLine();
            ox = x;
            oy = y;
            evt.preventDefault();
            evt.stopPropagation();
          }
        }

        function onUp(evt){
          mflag = false;
          evt.stopPropagation();
        }
        function onMouseDown(evt){
          ox = evt.clientX - evt.target.getBoundingClientRect().left;
          oy = evt.clientY - evt.target.getBoundingClientRect().top ;
          mflag = true;
        }
        function onMouseMove(evt){
          if (mflag) {
            x = evt.clientX - evt.target.getBoundingClientRect().left;
            y = evt.clientY - evt.target.getBoundingClientRect().top ;
            drawLine();
            ox = x;
            oy = y;
          }
        }
        function onMouseUp(event){
          mflag = false;
        }
        

        function drawLine(){
          context.strokeStyle = currentColor;
          context.lineWidth = 5;
          context.beginPath();
          context.moveTo(ox,oy);
          context.lineTo(x,y);
          context.stroke();
        }

        // function draw(x, y) {
        //   if(!isDrag) {
        //     return;
        //   }
        //   context.lineCap = 'round';
        //   context.lineJoin = 'round';
        //   context.lineWidth = 5;
        //   context.strokeStyle = currentColor;
          
        //   if (lastPosition.x === null || lastPosition.y === null) {
        //     context.moveTo(x, y);
        //   } else {
        //     context.moveTo(lastPosition.x, lastPosition.y);
        //   }

        //   context.lineTo(x, y);
        //   context.stroke();
        //   lastPosition.x = x;
        //   lastPosition.y = y;
        // }
      
        function pencil() {
          currentColor = black;
        }

        function eraser() {
          currentColor = white;
        }


        function clearCan(){
          context.fillStyle="rgb(255,255,255)";
          context.fillRect(0,0,canvas.getBoundingClientRect().width,canvas.getBoundingClientRect().height);
          context.strokeStyle = "#909090";
            context.lineWidth = 1;
            for (let i = 0; i < line - 1; i++) {
              context.beginPath();
              context.moveTo(50, i * 100 + 100);
              context.lineTo(950, i * 100 + 100);
              context.stroke();
            }
            context.strokeStyle = currentColor;
        }
    </script>
  </head>
  <body onload="init();">
    <header>
      <h1><i class = "fas fa-calculator"></i>&nbsp;電卓キャンバス</h1>
    </header>
    <main>
      <ul>
        <li>行を超えての計算はできません。</li>
        <li>計算には数秒かかります。</li>
        <li>正しく識別するために十分に文字間を空けて入力してください。</li>
      </ul>
      <canvas
      id = "board"
      width = "1000px"
      height = "300px"
      style = "border: 1px solid #000000;">ブラウザが対応していません。</canvas>
      <div>
        <button id = "clear-button" onClick="clearCan();">全消し</button>
      </div>
      
      

      <div>

        <button id = "pencil-button" onClick="pencil();"><i class = "fas fa-pen fa-2x"></i></button>
        <button id = "eraser-button" onClick="eraser();"><i class = "fas fa-eraser fa-2x"></i></button>
        <button id = "download" type = "button">計算</button>
        <h1 id = "inner"></h1>

      </div>
      <!-- <form action = "{% url 'home' %}" method = "POST">
        <input type = "text" name = "user_id" style = "font-size: 2em; width: 300px;" >
        {% csrf_token %}
        <button type = "submit">Send</button>
    </form>
    {% if pred %}
        {% if pred >= 95 %}
            <h1>@{{ user_name }}さんのBot類似度: 95%以上</h1>
        {% elif pred == -1 %}
            <h1>ユーザが存在しません。</h1>
        {% elif pred <= 5 %}
            <h1>@{{ user_name }}さんのBot類似度: 5%以下</h1>
        {% else %}
            <h1>@{{ user_name }}さんのBot類似度: {{ pred }}%</h1>
        {% endif %}
        
    {% endif %} -->
    </main>
      
    

  <script>

      
        // function clear() {
        //   context.fillStyle="rgb(255,255,255)";
        //   context.fillRect(0,0,canvas.getBoundingClientRect().width,canvas.getBoundingClientRect().height);
        //   context.strokeStyle = "#909090";
        //     context.lineWidth = 1;
        //     for (let i = 0; i < line - 1; i++) {
        //       context.beginPath();
        //       context.moveTo(50, i * 100 + 100);
        //       context.lineTo(950, i * 100 + 100);
        //       context.stroke();
        //     }
        //     context.strokeStyle = currentColor;
        // }
      
    //     function dragStart(event) {
    //       context.beginPath();
    //       isDrag = true;
    //     }
        
    //     function dragEnd(event) {
    //       context.closePath();
    //       isDrag = false;
    //       lastPosition.x = null;
    //       lastPosition.y = null;
    //     }
      
    //     function initEventHandler() {
          
    //       document.querySelector('#clear-button').addEventListener('click', clear);
    //       document.querySelector('#pencil-button').addEventListener('click', () => {
    //         currentColor = black;
    //       });
    //       document.querySelector('#eraser-button').addEventListener('click', () => {
    //         currentColor = white;
            
    //       });
    //       canvas.addEventListener("touchmove", function(evt) {
    //           evt.preventDefault();
    //       }, false);
    //       canvas.addEventListener('mousedown', dragStart);
    //       canvas.addEventListener('mouseup', dragEnd);
    //       canvas.addEventListener('mouseout', dragEnd);
    //       canvas.addEventListener('mousemove', (evt) => {
    //         draw(evt.layerX, evt.layerY);
    //       });
          
    //     }
    //     // if (flag == true) {
    //     //     clear();
    //     //     flag = false;
    //     // }
        
        
    //     // initEventHandler();
    // // });


    











    function sendServer(url, param){
      fetch(url, param)
        .then((response)=>{
          // console.log(response);
          // console.log(response.json());
          return response.json();
        })

        .then((json)=>{
          if(json.status){
            // alert(json.status);
            document.getElementById("inner").innerHTML = "計算結果:" + json.status;
            // alert("送信に『成功』しました");
          }
        })
        .catch((error)=>{
          alert("エラーが発生しました");
          console.log(`[error2] ${error}`);
        });
    }


    document.getElementById("download").addEventListener("click", function() {
      const csrftoken = Cookies.get('csrftoken');
      const canvas = document.getElementById("board").toDataURL("image/jpeg");  // DataURI Schemaが返却される
        
      // 送信情報の設定
      const param = {
        method: "POST",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
          "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify({data: canvas})
      };
      // サーバへ送信
      sendServer("{% url 'home' %}", param);
    });

    
    </script>
  </body>
</html>